<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css">
    <script src="//unpkg.com/jquery/dist/jquery.min.js"></script>
    <script src="//unpkg.com/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
	<div class="container">
		<h4>기본 table</h4>
		<table class="table table-dark">
			<thead>
				<tr>
					<th>#</th>
					<th>도시</th>
					<th>국적</th>
					<th>과일</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>1</th>
					<td>서울</td>
					<td>한국</td>
					<td>포도</td>
				</tr>
				<tr>
					<th>2</th>
					<td>부산</td>
					<td>영국</td>
					<td>멜론</td>
				</tr>
				<tr>
					<th>3</th>
					<td>광주</td>
					<td>독일</td>
					<td>사과</td>
				</tr>
			</tbody>
		</table>
    </div>
  </body>
</html>